@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$blue: #00151f;
$border: rgba(255, 255, 255, 0.2);

body {
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	background: $blue;
	color: white;
}

canvas {
	display: inline;
	margin: 2em auto 0 auto;
	border: 1px solid $border;
	background: desaturate($blue, 10);
}

#container {
	margin-left: 2em;
}

#game-over {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: table;
	height: 100%;
	width: 100%;
	padding-bottom: 10em;
	div {
		display: table-cell;
		vertical-align: middle;
	}

	&.hidden {
		display: none;
	}
}

#stats-container {
	&.horizontal-layout {
		position: absolute;
		right: 2em;
		width: 20em;
	}
	top: 0;
	p {
		margin-left: 6em;
		.score {
			font-size: 2em;
		}
	}
}
